.home {
  .header {
    min-height: 50vh;
    background-image: url(../../assets/img/hero.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 2rem;
    padding: var(--space-inset-l);
    color: var(--clr-black);

    nav {
      position: fixed;
      bottom: 2.4rem;
      left: 2.4rem;
      right: 2.4rem;
      padding: var(--space-inset-s);
      border-radius: 10rem;

      @media only screen and (min-width: 40em) {
        background-color: transparent;
        color: var(--clr-black);
        position: static;
      }

      li {
        margin-right: calc(var(--space-l) * 1.25);

        &:last-child {
          margin: 0;
        }
      }
    }
  }
}
